parameters:
    level: 6
    paths:
        - src
        - tests
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        -
          identifier: missingType.generics
        -
          identifier: method.alreadyNarrowedType
        -
          identifier: function.alreadyNarrowedType
        -
          message: '#Method .*DBALConnection::getDriverClass\(\) never returns null#'
          path: src/Options/DBALConnection.php
        -
          message: '#Parameter \#1 .* of method DoctrineORMModule\\Options\\Configuration.* stdClass given#'
          path: tests/Options/ConfigurationOptionsTest.php
includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
